:root {
  --white: #fff;
  --light-gray: #e9e9e9;
  --soft-gray: #dddddd;
  --charcoal-gray: #2f363e;
  --sky-blue: #5ad8e8;
  --royal-blue: #0073e6;
  --mint-green: #5ed374;
  --golden-yellow: #ffcf40;
  --teal-green: #11916b;
  --crimson-red: #e63946;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Press Start 2P', serif;
  margin: 0;
  padding: 0;
}

body {
background-color: var(--light-gray)
}

#app {
  height: 100%;
  margin: 0 auto;
  // border: 3px solid var(--background-primary); // for windows to not see a scroll bar ?
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light-gray);

  height: 100dvh;
  max-width: 1280px;

  font-size: 0.7rem;

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-bottom: 0.8rem;
    padding-bottom: 2rem;
  }
  h2 {
    font-size: 1.4rem;
    line-height: 1.4rem;
    padding-bottom: 0.6rem;
  }

  h3 {
    font-size: 1rem;
  }

  .color--testing {
    color: var(--mint-green);
  }
  .color--beginner {
    color: var(--teal-green);
  }
  .color--intermediate {
    color: var(--royal-blue);
  }
  .color--hard {
    color: var(--golden-yellow);
  }
  .color--expert {
    color: var(--crimson-red);
  }
}
