// **** SLIDE DOWN ****

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
  transform: translateY(100%);
}

.slide-enter-active,
.slide-leave-active {
  transition: 0.3s ease-out;
}

// **** GROWS OUT ****
.grows-out-enter-from,
.grows-out-leave-to {
  opacity: 0;
  transform: scale(1.5);
}

.grows-out-enter-active,
.grows-out-leave-active {
  transition: 0.3s ease-out;
}
