@import './_reset.css';
@import './animations.scss';
@import './colors.scss';
@import './rwd.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Press Start 2P', serif;
  font-weight: 200;
  font-style: normal;
}

#app {
  height: 100%;
  /* width: 100%; */
  /* border: 3px solid var(--background-primary); */
  /* for windows to not see scroll bar */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}
