@import './_reset.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: dark light;

  --background-primary: #f9f9f9;
  --background-secondary: #f9f9f999;
  --border: #e0e0e0;
  --card: #ffffff;
  --copy-primary: #242424;
  --copy-secondary: #6c6c6c;
  --cta: #0073e6;
  --cta-active: #005bb5;
  --cta-text: #ffffff;
  background: var(--background-primary);
}

body {
  height: 100vh;
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

@media (min-width: 1024px) {

} */
